<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>MakersBnB</title>
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/styles.css">
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container">
      <div>
        <div class="navbar-header">
          <a href="#" class="navbar-brand">MakersBnB</a>
          <ul class="nav navbar-nav">
            <li><a href="#">About</a></li>
            <li><a href="#">Contact</a></li>
          </div>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="#">Sign Up</a></li>
          <li><a href="#">Login</a></li>
        </div>
      </ul>
    </div>
  </nav>
  <div class="jumbotron page-header">
    <h1><small>Welcome to MakersBnB!</small></h1>
  </div>



  <div class="container">


    <div class="row">
      <div class="col-md-8">
        <ul id="form-list">
          <% @spaces.each do |space| %>
            <li class="form-item">
              <div class="row space-title">
                <div class="col-md-8">
                  <h3><%= space.name %></h3>
                </div>
                <div class="col-md-4">
                  <h3>£<%= space.price %>  </h3>
                </div>
              </div>

              <br>


              <%= space.description %> <br>
              <span>Host:</span>       <%= space.host %>
              <span>Email:</span>      <%= space.email %>       <br>
          </li> <br>
          <% end %>
        </ul>

      </div>
      <div class="col-md-4">
        <p>Please enter the details of the space available to rent below:</p>
        <form action="/spaces" method="post">
          <div class="form-group">
            <label for="host">Host's name:</label>
            <input type="text" class="form-control" name="host">
          </div>
          <div class="form-group">
            <label for="email">Host's email:</label>
            <input type="email" class="form-control" name="email">
          </div>
          <div class="form-group">
            <label for="name">Space name:</label>
            <input type="text" class="form-control" name="name">
          </div>
          <div class="form-group">
            <label for="price">Price:</label>
            <input type="text" class="form-control" name="price">
          </div>
          <div class="form-group">
            <label for="description">Description:</label>
            <textarea class="form-control text-area" name="description"></textarea>
          </div>
          <div class="button">
            <input class="btn btn-success"type="submit" value="Add Space">
          </div>
        </form>
      </div>
    </div>
  </div>
  <script src="js/jquery.js"></script>
  <script src="js/bootstrap.js"></script>
</body>
<div class="panel panel-default">
  <div class="panel-footer center">Panel footer</div>
</div>
</html>
