<div class="container">
  <div class="jumbotron page-header">
    <h1><small>Welcome to MakersBnB!</small></h1>
    <p>...some welcome spiel here...</p>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-8">
      <ul class="unordered-list">
        <% @spaces.each do |space| %>
        <li class="form-item">
          <div class="row ">
            <div class="col-md-8 space-title">
              <h3><%= space.name %></h3>
            </div>
            <div class="col-md-4 space-title">
              <h3>£<%= "%.2f" % space.price.truncate(2) %>  </h3>
            </div>
          </div>
          <div class="row">
              <div class="col-md-8 space-title">
              </div>
              <div class="col-md-4 space-title">
                <p id= "available-tag"> Available: </p>
                <p> from  <span class="availability"> <%= space.from.strftime('%FT%T') %> </span> </p>
                <p> to    <span class="availability"> <%= space.to %> </span> </p>
              </div>
            </div>
          <hr id="page-line">
          <div id="description">
            <%= space.description %> <br>
          </div>
          <div class="row">
            <div class="col-md-6 host-details">
              <span>Host:</span>  <%= space.host %>
            </div>
            <div class="col-md-6 host-details">
              <span>Email:</span> <%= space.email %>
            </div>
          </div>
        </li> <br>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-4">
      <p id='enter-details'>Sign up to add your own space!</p>
      <% if flash[:notice] %>
       <div class="alert alert-info">
          <ul class = "unordered-list">
            <% flash[:notice].each do |error| %>
              <li><%= error %></li>
            <% end %>
          </ul>
       </div>
      <% end %>

       <form action="/hosts" method="post">
         <div class="form-group">
           <label for="first_name">First Name *:</label>
           <input type="text" class="form-control" name="first_name" placeholder="first name">
         </div>
         <div class="form-group">
           <label for="last_name">Last Name :</label>
           <input type="text" class="form-control" name="last_name" placeholder="last name">
         </div>
         <div class="form-group">
           <label for="log_in_email">Email *:</label>
           <input type="email" class="form-control" name="email" placeholder="email">
         </div>
         <div class="form-group">
           <label for="log_in_password">Password *:</label>
           <input type="password" class="form-control" name="password" placeholder="password">
         </div>
         <div class="form-group">
           <label for="password_confirmation">Password Confirmation *:</label>
           <input type="password" class="form-control" name="password_confirmation" placeholder="password confirmation">
         </div>
         <div class="button text-center">
           <input type="submit" class="btn btn-success btn-lg" value='Sign Up'>
         </div>
       </form>

    </div>
  </div>
</div>
